body{
    background: rgb(64, 172, 245);
}
.table th{
    font-size: 1.1rem;
    font-weight: 600;
    color: whitesmoke;
    background: rgba(3, 29, 102, 0.692);
    border-right:solid 1px white ;
    text-transform: capitalize;
}
.table  thead th:first-child{
    width: 6rem;
}
.table  thead th:last-child{
    border-right: none;
}
.table  td{
    color: whitesmoke;
    background: rgba(27, 55, 134, 0.692);
    border-right:solid 1px white ;
    text-transform: capitalize;
}
.title{
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: whitesmoke;
}

.change{
    background: #00000060;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
}